html {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

html {

}

body {
  background: radial-gradient(50.78% 71.83% at 24.84% 98.37%, #59B663 0%, #0C4970 100%);
    no-repeat;
  background-size: cover;
}



 h1,h4,p,a{
   color:white;
 }


.compassion-text {
  height: 100%;
}
